.user-header {
  margin-bottom: 30px;
  padding: 30px 0;
}

.user-header__top {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 30px;
}

.user-header__icon {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #a491d3;
  border-radius: 50%;
  font-weight: 400;
  font-size: 68px;
  line-height: 80px;
  color: #f8f5f0;
}

.user-header__name {
  font-weight: 400;
  font-size: 70px;
  line-height: 82px;
  color: #000000;
}

.user-header__navigation {
  display: flex;
  align-items: start;
  gap: 20px;
}

.user-header__button {
  font-weight: 700;
  font-size: 24px;
  line-height: 20px;
  color: #000000;
  transition: all 0.1s;
  box-sizing: border-box;
  border: none;
  padding: 0;
  padding-bottom: 10px;
  background-color: transparent;
  cursor: pointer;
}

.user-header__button:hover {
  border-bottom: 3px solid #f50c0c;
  color: #f50c0c;
}

@media (max-width: 500px) {
  .user-header__icon {
    width: 60px;
    height: 60px;
    font-size: 40px;
    line-height: 48px;
  }
  .user-header__name {
    font-size: 40px;
    line-height: 48px;
    color: #000000;
  }
}
